// Mixins in here
.button-style() {
    border: 1px solid black;
    padding: 2% 2%;
    background-color: teal;
    color: white;
    text-align: center;
    font-size: 2rem;
    text-emphasis: bold;
    border-radius: 5px;

}