// Navigation Styles here

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    //margin: 0 28%;
    border-bottom: 2px dashed grey;

    div {
        margin-left: 28%;
        width: 150px;
    }

    nav {
        display: flex;
        justify-content: space-between;
        margin-right: 25%;
        width: 50;

        

    
        a {
            width: 150px;
            display: flex;
            //justify-content: space-between;
            text-decoration: none;
            color: black;
            font-size: 1.5rem;
            padding: 0 2%;
        
        }
    }

}
